/* Eric Meyer's Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Common */

strong, .strong {
    font-weight: bold;
}
.center {
    text-align: center;
}

/* Structure */

html, #wrap {
    background: #015135;
    font: 16px normal Helvetica, sans-serif;
    -webkit-user-select: none;
}
#main {
    background: #015135;
    display: block;
    width: 1080px;
    height: 1920px;
    position: relative;
    vertical-align: top;
    /*background:url(../images/tv_main_screen_1080x1920.jpg) no-repeat top left;*/
}
.content {
    display: block;
    width: 1080px;
    height: 1920px;
    padding-top: 300px;
    padding-left: 52px;
}
.box-white {
    display: block;
    width: 978px;
    overflow: hidden;
    height: 1218px;
}
.image {
    max-height: 750px;
}
.original {
    height: 400px;
    overflow: hidden;
    position: relative;
}
.original img {
    width: 978px;
    height: auto;
    /*display: inline;*/
    position: relative;
}
/*.overflow-image.middle {
    margin-top: 10px;
    margin-bottom: 10px;
}*/
.spacer{
	display:block;
	width:10px;
	height:10px;
	
}
.overflow-image {
  overflow: hidden;
}

#overlay {
    display: block;
    width: 1080px;
    height: 1920px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/tv_overlay.png) no-repeat top left;
    z-index: 100;
}
.tv-states {
    display: block;
    width: 978px;
    height: 1220px;
    position: absolute;
    top: 300px;
    left: 52px;
    z-index: 1000;
}
#tv-start {
    background: url(../images/tv_start_978x1220.jpg) no-repeat top left;
}
#tv-take-photo {
    background: url(../images/tv_take_photo_978x1220.jpg) no-repeat top left;
}
#tv-win {
    background: url(../images/win_overlay_978x1220.png) no-repeat top left;
}
#tv-lose {
    background: url(../images/lose_overlay_978x1220.png) no-repeat top left;
}

/*.original img.top {top:0; float: right;}

.original img.middle {top:-391px; float: right;}

.original img.bottom {bottom:0; float: right;}*/
