<!DOCTYPE html>
<html lang="en" nat-lang="tr" ng-app="userApp">

<head>
  <!-- start: Meta -->
  <title>Face Flipper</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
  <link rel="apple-touch-icon" href="favicon-114.png" />
  <meta name="apple-mobile-web-app-capable" content="yes" /><!-- hide top bar in mobile safari-->
  <!-- end: Meta -->
  <!-- <link rel="icon" href="img/turkey.ico" type="image/x-icon"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script> -->
  <!-- <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css"/> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script> -->
  <!-- <script src="https://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.js"></script> -->
  <!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css"> -->
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" href="https://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.css"> -->
  <script src="js/userFactory.js"></script>
  <script src="js/userController.js"></script>
  <script src="js/userConfig.js"></script>
  <script src="js/ngNotificationsBar.min.js"></script>
  <script src="js/webcam.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
 <!-- shim is needed to support non-HTML5 FormData browsers (IE8-9)-->
 <script src="js/ng-file-upload-shim.min.js"></script>
 <script src="js/ng-file-upload.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/ngNotificationsBar.min.css" />
  <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.css" /> -->
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<!-- define angular controller -->

<body ng-controller="bodyController as ctrl">
  <notifications-bar class="notifications"></notifications-bar>
  <div id="wrap">
    <div id="main">
      <div class="header">

        <a class="left" ui-sref='login'>Login</a>
        <h1 class="title">Face Flipper</h1>
        <a class="right" ui-sref='tv'>TV</a>

      </div><!--header-->

      <ui-view>
      </ui-view>
    </div>

    <div id="sidebar">

      <div class="header">
        <p class="title">Face Flipper</p>
      </div>
      <!--header-->

      <div class="content">

        <ul class="nav">
          <li ng-if="!ctrl.loggedin"><a ui-sref='login'><span class="ico msg"></span>Sign in</a></li>
          <li ng-if="!ctrl.loggedin"><a ui-sref='register'><span class="ico msg"></span>Sign up</a></li>
          <li ng-if="ctrl.loggedin"><a ui-sref='ipad'><span class="ico msg"></span>iPad<span>On</span></a></li>
          <li ng-if="!ctrl.loggedin"><a ui-sref='tv'><span class="ico msg"></span>TV<span class="info">Live</span></a></li>
        </ul>

      </div>
      <!--content-->

    </div>
    <!--sidebar-->
  </div>
</body>

</html>
