<div class="content" ng-controller="registerController as register">
  <h2 class="title2">Sign up</h2>
  <!-- <p>Me got forms too:</p> -->
  <form ng-submit="register.register();">
    <div class="box-white">
      <p>
        <label for="field1">Firstname</label>
        <input id="field1" ng-model="register.user.firstname" type="text" />
      </p>
      <p>
        <label for="field2">Lastname</label>
        <input id="field2" ng-model="register.user.lastname" type="text" />
      </p>
      <p>
        <label for="field3">Email</label>
        <input id="field3" ng-model="register.user.email" type="text" />
      </p>
    </div>

    <p>
      <input type="submit" class="button" value="Sign up" />
    </p>
    <p class="note">Do you already have an account? <a ui-sref='login'>Sign in</a></p>
  </form>

</div>
<!--content-->
