<div class="content" ng-controller="tvController as tv" ng-init="tv.init()">
  <!-- <p>Me got forms too:</p> -->
  <div class="box-white image">
    <!-- <div ng-repeat="user in users">
      <span ng-if="user.image.url"><img ng-src="{{ generateLink(user.image.url)}}" width="400" height="300" alt="{{ user.image.url }}"></span>
    </div> -->
    <div class="original">
      <img ng-src="images/slide_play_start_978x-381.jpg" id="top"  alt="">
      <img ng-src="images/slide_slots_casinos_978x381.jpg" id="top2"  alt="">
      <img ng-src="images/slide_winners_circle_978x381.jpg" id="top3"  alt="">
      <img ng-src="images/banana.jpg" id="top4" class="top" alt="">

    </div>
    <div class="original">
      <!-- <img ng-src="{{ generateLink(tv.urlSecond)}}" class="middle" alt=""> -->
      <img ng-src="images/slide_play_start_978x-381.jpg" id="middle"  alt="">
      <img ng-src="images/slide_slots_casinos_978x381.jpg" id="middle2"  alt="">
      <img ng-src="images/slide_winners_circle_978x381.jpg" id="middle3"  alt="">
      <img ng-src="images/banana.jpg" id="middle4" class="top" alt="">
    </div>
    <div class="original">
      <!-- <img ng-src="{{ generateLink(tv.urlSecond)}}" class="middle" alt=""> -->
      <img ng-src="images/slide_play_start_978x-381.jpg" id="bottom"  alt="">
      <img ng-src="images/slide_slots_casinos_978x381.jpg" id="bottom2"  alt="">
      <img ng-src="images/slide_winners_circle_978x381.jpg" id="bottom3"  alt="">
      <img ng-src="images/banana.jpg" id="bottom4" class="top" alt="">
      <!-- <img ng-src="{{ generateLink(tv.urlThird)}}" class="bottom" alt=""> -->
    </div>
  </div>
</div>
