<div id="main">
<div class="content" ng-controller="tvController as tv" ng-init="tv.init()">
  <!-- <p>Me got forms too:</p> -->
  <div class="box-white image">
    <!-- <div ng-repeat="user in users">
      <span ng-if="user.image.url"><img ng-src="{{ generateLink(user.image.url)}}" width="400" height="300" alt="{{ user.image.url }}"></span>
    </div> -->
    <div class="original top">
      <img ng-src="images/slider_play_smart_980x400.jpg" id="top"  alt="">
      <img ng-src="images/slider_play_smart_980x400.jpg" id="top2"  alt="">
      <img ng-src="images/slider_play_smart_980x400.jpg" id="top3"  alt="">
      <img ng-src="images/slider_play_smart_980x400.jpg" id="top4" class="top" alt="">

    </div>
    <div class="original middle">
      <!-- <img ng-src="{{ generateLink(tv.urlSecond)}}" class="middle" alt=""> -->
      <img ng-src="images/slider_olg_980x400.jpg" id="middle"  alt="">
      <img ng-src="images/slider_olg_980x400.jpg" id="middle2"  alt="">
      <img ng-src="images/slider_olg_980x400.jpg" id="middle3"  alt="">
      <img ng-src="images/slider_olg_980x400.jpg" id="middle4" class="top" alt="">
    </div>
    <div class="original bottom">
      <!-- <img ng-src="{{ generateLink(tv.urlSecond)}}" class="middle" alt=""> -->
      <img ng-src="images/slider_winners_980x400.jpg" id="bottom"  alt="">
      <img ng-src="images/slider_winners_980x400.jpg" id="bottom2"  alt="">
      <img ng-src="images/slider_winners_980x400.jpg" id="bottom3"  alt="">
      <img ng-src="images/slider_winners_980x400.jpg" id="bottom4" class="top" alt="">
      <!-- <img ng-src="{{ generateLink(tv.urlThird)}}" class="bottom" alt=""> -->
    </div>
    
  </div>
</div>
<div id="overlay"></div>
<div id="tv-start" class="tv-states"></div>
	<div id="tv-take-photo" class="tv-states"></div>
	<div id="tv-win" class="tv-states"></div>
	<div id="tv-lose" class="tv-states"></div>

</div>
